@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: #0f1c29;
    --color-primary-foreground: white;
    --color-secondary: #f1f5f9;
    --color-secondary-foreground: #0f172a;

    --color-bloom-gray: #e5e1e6ff;
    --color-bloom-red: #be1b3bff;
    --color-bloom-red-light: #fb2c36;
    --color-bloom-blue: #67d4ecff;
    --color-bloom-blue-light: #b8e3edff;
    --color-bloom-yellow: #f3d03aff;
    --color-bloom-yellow-light: #f6e6a0ff;
    --color-bloom-orbit: #2332ffff;
    --color-bloom-orbit-light: #a5a8e1ff;
}

/*
@media (prefers-color-scheme: dark) { 
     :root { 
         --background: #0a0a0a; 
         --foreground: #ededed; 
     }
} 
*/

@layer utilities {
    h1 {
        @apply text-primary text-4xl font-semibold
    }
    h2 {
        @apply text-primary text-3xl font-semibold
    }
    h3 {
        @apply text-primary text-2xl font-semibold
    }
    h5 {
        @apply text-primary text-xl font-semibold
    }
}


body {
    color: var(--foreground);
    font-family: montserrat, Helvetica, sans-serif;
    @apply bg-slate-100
}
